@model List<Langile>

<div class="container>">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Zoo-an ikusi daitezken animaliak
            </h2>
        </div>
        <div class="col-6 text-end">

            <a id="worker" asp-area="Identity" asp-page="/Account/Worker" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>Langile berria
            </a>
        </div>

    </div>
    <table id="tblData" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Izena</th>
                <th>Abizena</th>
                <th>Postua</th>
                <th>Turnoa</th>
                <th></th>
            </tr>
        </thead>

    </table>
    <div class="row">
        <div class="col-6 col-md-3">
            
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Langile.js"></script>
}